<div class="card-trip">
  <%= cl_image_tag(bike.picture) %>
  <div class="card-infowindow-infos">
    <div>
      <h2><%= link_to bike.name, bike_path(bike) %></h2>
      <p><%=  bike.category%></p>
      <p><%=  bike.address%></p>
    </div>
    <h2 class="card-infowindow-pricing"><%= bike.price_per_day %>€/par jour</h2>
</div>
</div>
