
<div class="bike-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://st3.depositphotos.com/11797962/15244/i/1600/depositphotos_152443984-stock-photo-back-wheel-of-a-holland.jpg);">

  <div class="container"> <!-- margin-top-negative -->
    <div class="row mt-4">
      <div class="col-sm-8 col-md-4 mt-4 bike-cards-container" id="card-left">

        <div class="card-container">

          <div class="bike-show-card">
            <h2><%= @bike.name %></h2>
            <p class="bike-show-address"><%= @bike.address %></p>
          </div>

          <div class="bike-show-card">
            <h2>Category</h2>
            <p><%= @bike.category %></p>
          </div>

          <div class="bike-show-card">
            <h2>Price per Day</h2>
            <div style="display: flex">
            <i class="material-icons mr-2">Euro :</i> <div id="price"> <%= @bike.price_per_day %></div>  €
            </div>
          </div>

        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4" id="card-middle">

        <div class="card-container">

          <div class="bike-show-card bike-show-card-photo">
            <div class="photo-container">
              <div class="bike-photo" style="background-image: url(https://images0.garmentory.com/images/1530320/xxl/Tokyobike-Bisou---Saffron-20180809192154.jpg?1533842514)">
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4">

        <div class="card-container">
          <div class="bike-show-car">

            <h2>Book this bike !</h2>

      <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :from, as: :string, required: false, input_html: {class: "datepicker", id:"begindate"} %>
      <%= f.input :to, as: :string, required: false, input_html: {class: "datepicker", id:"enddate"} %>

          <div  class="d-flex mt-3 pt-1 border-top" >

            <p><strong>Total Price: </strong></p>
            <div class="ml-3">
            <p id="price-final"> €</p>
            </div>
            </div>


      <%= f.button :submit, "Book", class: "btn btn-primary" %>
    <% end %>


          </div>

        </div>

      </div>
    </div>
  </div>

</div>
