
<div class="bike-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">

  <div class="container"> <!-- margin-top-negative -->
    <div class="row mt-4">
      <div class="col-sm-8 col-md-4 mt-4 bike-cards-container" id="card-left">

        <div class="card-container">

          <div class="bike-show-card">
            <h2><%= @bike.name %></h2>
            <p class="bike-show-address"><%= @bike.address %></p>
          </div>

          <div class="bike-show-card">
            <h2>Category</h2>
            <p><%= @bike %></p>
          </div>

          <div class="bike-show-card">
            <h2>Price per Day</h2>
            <i class="material-icons mr-2">Euro :</i> <%= @bike.price_per_day %>  €
          </div>

        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4" id="card-middle">

        <div class="card-container">

          <div class="bike-show-card bike-show-card-photo">
            <div class="photo-container">
              <div class="bike-photo" style="background-image: url(https://surlybikes.com/uploads/bikes/_medium_image/BridgeClub_BK9997.jpg)">
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4">

        <div class="card-container">
          <div class="bike-show-car">

            <h2>Book this bike !</h2>

            <form action="">
              <div class="bad-form-param input-group mt-3">
                <label class="input-group-addon control-label">From :</label>
                <input type="text" class="form-control" placeholder="MM/YY/DD" aria-label="Username" aria-describedby="basic-addon1" class="form-control">
              </div>
              <div class="bad-form-param input-group mt-3">
                <label class="input-group-addon control-label">To :</label>
                <input type="text" class="form-control" placeholder="MM/YY/DD" aria-label="Username" aria-describedby="basic-addon1" class="form-control">
              </div>
              <input type="submit" value="Book" class="btn btn-success mt-3" style="width: 100%">
            </form>

          </div>
          <div class="bike-show-card mt-4">

            <h2>Global Price</h2>
            <div class="flex ml-8">
              <i class="material-icons mr-2">Euro :</i> <%= @bike.price_per_day * 4 %> €
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>
