
<div class="bike-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556375415-8ba5eeff3ba3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">

  <div class="container"> <!-- margin-top-negative -->
    <div class="row mt-4">
      <div class="col-sm-8 col-md-4 mt-4 bike-cards-container" id="card-left">

        <div class="card-container">

          <div class="bike-show-card">
            <h2><%= @bike.name %></h2>
            <p class="bike-show-address"><%= @bike.address %></p>
          </div>

          <div class="bike-show-card">
            <h2>Category</h2>
            <p><%= @bike.category %></p>
          </div>

          <div class="bike-show-card">
            <h2>Price per Day</h2>
            <div style="display: flex">
            <i class="material-icons mr-2">Euro :</i> <div id="price"> <%= @bike.price_per_day %></div>  €
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4" id="card-middle">

        <div class="card-container">

          <div class="bike-show-card bike-show-card-photo">
            <div class="photo-container">
              <div class="bike-photo" style="background-image: url(<%= cl_image_path( @bike.picture ) %>)">
              </div>
            </div>
          </div>

        </div>

      </div>


      <div class="col-sm-8 col-md-4 mt-4">

        <div class="card-container">
           <div class="bike-show-card">
          <div class="bike-show-card pos-b mt-4">
            <h3>BOOK YOUR BIKE!</h3>

      <%= simple_form_for([@bike, @booking]) do |f| %>
        <%= f.input :begining_date, as: :string, input_html: {class: "datepicker", id:"begindate"}, required: true %>
        <%= f.input :end_date, as: :string, input_html: {class: "datepicker", id:"enddate"}, required: true %>


          <div  class="d-flex mt-3 pt-1 border-top" >


            <p><strong>TOTAL PRICE: </strong></p>
            <div class="ml-3">
            <p id="price-final"> €</p>
            </div>
            </div>


      <%= f.button :submit, "Book", class: "btn btn-primary" %>
    <% end %>




        </div>

      </div>
    </div>
  </div>

</div>
