  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-md-3">
        <div class="box-grey bg-white">
          <h2 class="mb6 text-center"> Log in to your account</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: 'Enter your email',
                          label: false,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: true,
                          placeholder: 'Enter your password',
                          label: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

              <div>
                <%= f.button :submit, "Log in", class: 'btn btn-success col-sm-6 offset-md-3 shadow mt6' %>
              </div>

          <% end %>

            <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>






